.dark-mode .nuxt-content {

  & h2,
  & h3,
  & blockquote {
    @apply border-gray-800;
  }

  &>code,
  & li>code,
  & p>code,
  & h3>code {
    @apply bg-gray-800;
  }
}

.nuxt-content h2 {
  @apply pt-16 pb-1 mb-4 -mt-12 text-3xl font-black border-b;

  &>a {
    @apply ml-6;

    &::before {
      content: "#";
      @apply absolute pr-1 -ml-6 font-normal text-green-500 opacity-100;
    }
  }

  &:hover {
    &>a::before {
      @apply opacity-100;
    }
  }
}

.nuxt-content h3 {
  @apply pt-16 pb-1 mb-2 -mt-12 text-2xl font-extrabold border-b;

  &>a {
    @apply ml-6;

    &::before {
      content: "#";
      @apply absolute pr-1 -ml-5 font-normal text-green-500 opacity-100;
    }
  }

  &:hover {
    &>a::before {
      @apply opacity-100;
    }
  }
}

.nuxt-content h4 {
  @apply pt-20 pb-1 mb-2 -mt-16 text-xl font-semibold border-b;
}

@screen lg {

  .nuxt-content h2 a,
  .nuxt-content h3 a {
    @apply ml-0;

    &::before {
      @apply opacity-0;
    }
  }
}

.nuxt-content ul,
.nuxt-content ol {
  @apply pl-2 mb-4 list-disc list-inside;

  &>li {
    @apply leading-7;

    &>ul {
      @apply pl-4;
    }
  }
}

.nuxt-content ol {
  @apply list-decimal;
}

.nuxt-content {
  & a {
    @apply text-green-500;

    &:hover {
      @apply underline;
    }
  }

  & p {
    @apply mb-4 leading-7;
  }

  &>blockquote {
    @apply py-2 pl-4 mb-4 border-l-4;

    & p:last-child {
      @apply mb-0;
    }
  }

  &>code,
  & li>code,
  & p>code {
    @apply p-1 text-sm bg-gray-100 rounded shadow-sm;
  }

  & h3>code {
    @apply p-1 text-lg bg-gray-100 rounded shadow-sm;
  }

  & pre[class*="language-"] {
    @apply relative mt-0 mb-4 text-sm bg-gray-800 rounded;

    >code {
      @apply relative bg-gray-800;
      text-shadow: none;
    }
  }

  & video {
    @apply w-full border rounded shadow-md;
  }
}

.nuxt-content-highlight {
  @apply relative;

  &>.filename {
    @apply absolute top-0 right-0 z-10 mt-1 mr-2 text-sm font-light text-gray-600;
  }

  &>pre {
    &>.copy {
      @apply absolute bottom-0 right-0 hidden px-3 py-1 mb-3 mr-3 font-sans text-sm font-semibold tracking-wide text-white uppercase bg-transparent border border-white rounded-md shadow-lg;

      &:hover {
        @apply bg-gray-700;
      }

      &:focus {
        @apply bg-gray-900 outline-none;
      }
    }

    &:hover {
      &>.copy {
        @apply block;
      }
    }
  }
}