:root {
  --color-primary: #95ba3d;
  --color-french-rose: hsla(340, 100%, 66%, 1.00);
  --color-golden-poppy: hsla(46, 100%, 50%, 1.00);
  --color-lime: hsla(120, 100%, 44%, 1.00);
  --color-cool-blue: hsla(208, 100%, 50%, 1.00);
  --color-baby-blue: hsla(180, 100%, 63%, 1.00);
  --color-yellow: hsla(60, 100%, 50%, 1.00);
  --color-electric-violet: hsla(275, 100%, 50%, 1.00);
}
