:root {
  /* Primary -- Paprika */
  --color-primary: #98002f;
  --color-primary-50: #faf2f5;
  --color-primary-100: #f5e6ea;
  --color-primary-200: #e5bfcb;
  --color-primary-300: #d699ac;
  --color-primary-400: #b74d6d;
  --color-primary-500: #98002f;
  --color-primary-600: #89002a;
  --color-primary-700: #720023;
  --color-primary-800: #5b001c;
  --color-primary-900: #4a0017;

  /* Secondary -- Picton Blue */
  --color-secondary: #16abe4;
  --color-secondary-50: #f3fbfe;
  --color-secondary-100: #e8f7fc;
  --color-secondary-200: #c5eaf8;
  --color-secondary-300: #a2ddf4;
  --color-secondary-400: #5cc4ec;
  --color-secondary-500: #16abe4;
  --color-secondary-600: #149acd;
  --color-secondary-700: #1180ab;
  --color-secondary-800: #0d6789;
  --color-secondary-900: #0b5470;

  /* Tertiary -- Tory Blue */
  --color-secondary: #0e50a9;
  --color-secondary-50: #f3f6fb;
  --color-secondary-100: #e7eef6;
  --color-secondary-200: #c3d3ea;
  --color-secondary-300: #9fb9dd;
  --color-secondary-400: #5685c3;
  --color-secondary-500: #0e50a9;
  --color-secondary-600: #0d4898;
  --color-secondary-700: #0b3c7f;
  --color-secondary-800: #083065;
  --color-secondary-900: #072753;
}
