:root {
	--color-black: #000;

	--color-midnight-express: hsla(230, 32%, 20%, 1);
  --color-midnight-express: hsla(229, 37%, 16%, 1.00)
	--color-woodsmoke: hsla(198, 13%, 5%, 1);
  --color-vulcan: hsla(208, 27%, 9%, 1);
	--color-oxford-blue: hsla(214, 18%, 21%, 1);
	--color-black-pearl: hsla(200, 14%, 14%, 1);
  --color-shuttle-gray: hsla(210, 10%, 40%, 1);
	--color-chicago: hsla(307, 1%, 37%, 1);
	--color-persian-rose: hsla(324, 100%, 59%, 1);
	--color-dandilion: hsla(47, 93%, 70%, 1);
	--color-brass: hsla(60, 46%, 46%, 1);
  --color-citrus: hsla(63, 100%, 34%, 1.00);
	--color-spring-green: hsla(150, 100%, 45%, 1);
  --color-apple-green: hsla(78, 83%, 41%, 1.00);
  --color-apple-green: hsla(63, 100%, 32%, 1.00)
	--color-morning-glory: hsla(183, 35%, 70%, 1);
	--color-platinum: hsla(240, 2%, 89%, 1);
	--color-armadillo: hsla(240, 2%, 89%, 1);
	--color-caribean-green: hsla(161, 100%, 39%, 1);


	--color-primary: #95ba3d;
	--color-primary: #aaae00; /* Promise Serves */
	--color-primary: #aaac22;
	--color-primary: #9ba01b;
	--color-primary: #202d56; /* Every Mother's Advocate */
}
