:root {
  --color-primary: #b2b45d;
  --color-on-primary: #444513;
  --color-secondary: #ffdc18;
  --color-on-secondary: #756000;
  --color-tertiary: hsl(245, 70%, 30%);
  --color-on-tertiary: #918bd3;
  --color-surface: #f9f9f9;
  --color-on-surface: #494848;

  background: var(--color-primary);
  color: var(--color-on-primary);
}
