/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import 'tailwindcss/base';
@import './base.css';

/* @import './fonts.pcss';
@import './base/typography.css'; */

@import 'tailwindcss/components';
/* @import './components.pcss';
@import './transitions.pcss';
@import './components/glide.pcss';
@import './components/timeline.pcss';
@import './components/tooltips.pcss';
@import './components/twentytwenty.pcss'; */
@import 'tailwindcss/utilities';


@layer components {
  .create-story {
    @apply absolute bottom-0 flex items-center justify-center w-8 h-8 font-mono text-2xl font-semibold text-white bg-blue-500 border-4 border-white rounded-full right-1 hover:bg-blue-700;
  }

  .media-embed,
  .video-embed {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
  }

  .media-embed iframe,
  .video-embed iframe,
  .media-embed object,
  .video-embed object,
  .media-embed embed,
  .video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
