:root {
  --hue: 280;
  --lightness: 50;
  --saturation: 80;
}
// I ensure the --color and --h, --s, --l custom properties are re-evaluated for every element by using the * selector.  This means their calculations will consider the local value of the --darken property.
* {
  --s: calc(var(--saturation) * calc(1 - var(--desaturate, 0)));
  --h: calc(var(--hue) + var(--hue-rotate, 0));
  --l: calc(var(--lightness) * calc(1 - var(--darken, 0)));
  --color: hsl(var(--h), calc(var(--s) * 1%), calc(var(--l) * 1%));
}

body {
  // Modify these:

  --darken: -0.25; // -1 : 1 negative=lighten positive=darken
  --desaturate: 0.2; // -1 : 1 negative=saturate positive=desaturate
  --hue-rotate: 100; // +/- hue
  // You can also directly modify --saturation, --hue and --lightness
  background: var(--color);
}
