/* Styling the Disclosure Widgets */
details > summary {
  background-color: #fdb;
  cursor: pointer;
  padding: .5rem 1rem;
}

details > summary > * {
  display: inline;
}

details > div {
  border: 2px solid #fdb;
  margin-top: 0;
  padding: 1rem;
}