.duotone-card {
  --duotone-card-media-opacity: 1;
  --duotone-card-media-brightness: 1.1;
  --duotone-card-media-grayscale: 1;
  --duotone-card-icon-x: -0.5rem;
  --duotone-card-icon-opacity: 0;
  --duotone-card-content-background: var(--color-navy-opaque);

  max-width: 15rem;
}

.duotone-card__inner {
  position: relative;
  padding-bottom: 115%;
}

.duotone-card__content {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  background: var(--duotone-card-content-background);
  color: var(--color-light);
  padding: 0.6rem 3rem 0.6rem 0.6rem;
  line-height: 1.1;
}

.duotone-card__summary {
  font-family: var(--font-sans);
  font-size: 0.88rem;
  margin-top: 0.3rem;
}

.duotone-card__icon {
  fill: currentcolor;
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translate(var(--duotone-card-icon-x), -50%);
  opacity: var(--duotone-card-icon-opacity);
  font-size: 1.5em;
  transition: opacity var(--transition-snappy), transform var(--transition-silky);
}

.duotone-card__media {
  position: absolute;
  width: 100%;
  height: 100%;
}

.duotone-card__media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(var(--duotone-card-media-grayscale)) brightness(var(--duotone-card-media-brightness));
  transition: filter var(--transition-snappy);
}

@supports (mix-blend-mode: multiply) {
  .duotone-card__media::before,
  .duotone-card__media::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: var(--duotone-card-media-opacity);
    transition: opacity var(--transition-snappy);
  }

  .duotone-card__media::before {
    background: var(--oruga-color-primary);
    mix-blend-mode: multiply;
  }

  .duotone-card__media::after {
    background: var(--color-navy);
    mix-blend-mode: lighten;
  }
}

/* Switch the custom property values on hover instead of writing
   complex selectors */
.duotone-card:hover,
.duotone-card:focus-within {
  --duotone-card-media-opacity: 0;
  --duotone-card-media-brightness: 1;
  --duotone-card-media-grayscale: 0;
  --duotone-card-icon-opacity: 1;
  --duotone-card-icon-x: 0;
  --duotone-card-content-background: var(--color-navy);
}
