@import 'tailwindcss/base';
@import './base/variables.css';

@import './base/utilities.css';
@import './base/transitions.css';

@import 'tailwindcss/components';
@import './components/cover_button.css';
@import './components/duotone_card.css';
@import './components/keyboard.css';
@import './components/switcher.css';

@import 'tailwindcss/utilities';

html {
  overflow-y: scroll;
}

.themed {
  --fa-secondary-opacity: 0.5;
  --fa-primary-color: var(--color-primary);
  --fa-secondary-color: var(--color-secondary);
}

/* *:nth-child(n) {
  background-color: rgba(255, 0, 0, 0.2);
} */

.card {
  background-color: #fff;
  box-shadow: 0 2px 3px hsla(0, 0%, 4%, 0.1), 0 0 0 1px hsla(0, 0%, 4%, 0.1);
  color: #4a4a4a;
  max-width: 100%;
  position: relative;
}
.card-header {
  background-color: transparent;
  align-items: stretch;
  box-shadow: 0 1px 2px hsla(0, 0%, 4%, 0.1);
  display: flex;
}
.card-header-title {
  align-items: center;
  color: #363636;
  display: flex;
  flex-grow: 1;
  font-weight: 700;
  padding: 0.75rem;
  margin: 0;
}
.card-header-icon {
  align-items: center;
  cursor: pointer;
  display: flex;
  padding: 0.75rem;
  justify-content: center;
}
.card-content {
  padding: 1.5rem;
  background-color: transparent;
}

.is-sticky-column-one {
  @apply bg-primary-200 !important;
  color: theme('colors.gray.900') !important;
}
.is-sticky-column-two {
  background: #167df0 !important;
  color: white !important;
}

.error {
  color: red;
}

.bar-chart {
  width: 80%;
  height: 80%;
  margin: auto;
  margin-top: 30px;
}

.VuePagination {
  text-align: center;
}

.vue-title {
  text-align: center;
  margin-bottom: 10px;
}

.vue-pagination-ad {
  text-align: center;
}

.glyphicon.glyphicon-eye-open {
  width: 16px;
  display: block;
  margin: 0 auto;
}

th:nth-child(3) {
  text-align: center;
}

.VueTables__child-row-toggler {
  width: 16px;
  height: 16px;
  line-height: 16px;
  display: block;
  margin: auto;
  text-align: center;
}

.VueTables__child-row-toggler--closed::before {
  content: '+';
}

.VueTables__child-row-toggler--open::before {
  content: '-';
}

[v-cloak] {
  display: none;
}
